  p, h1{
        color: white;
      }
      body{
        background-color: black;
        color:white;
        border-collapse: collapse;
      }
      
       #header[
         font-weight: bold;
         font-size: 300px;
       ] 